{% extends 'base_general.html'%}

{%block titulo%}Estudiante CalificaUD{%endblock titulo%}

{%block styles%}
	<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
{%endblock styles%}

{% block cabecera %}
	<!--Barra de navegacion-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url 'index_private'%}">Estudiante - CalificaUD</a>
        <div class="nav-collapse">
          <ul class="nav">
            <!--<li class="active"><a href="#">Home</a></li>-->           
            <li><a href="#contact">¿Tienes sugerencias?</a></li>
            <li><a href="#about">Acerca de</a></li>
          </ul>
                  <div class="btn-group navbar-text pull-right">
              <a class="btn" href="#" data-toggle="dropdown"><i class="icon-user"></i> {{user.nombre|title|truncatechars:15}} {{user.apellido|title|truncatechars:15}}</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'actualizar'%}"><i class="icon-pencil"></i> Actualizar Datos personales</a></li>                
                <li class="divider"></li>
                <li><a href="{% url 'logout'%}"><i class="icon-off"></i> Cerrar sesi&oacute;n</a></li>
              </ul>
            </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>  
{% endblock cabecera %}

{% block cuerpo %}
	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li><a  class="btn {% block home_active %}{% endblock  %}" href="{% url 'index_private'%}"><i class="icon-home"></i>Home</a></li>
			  <li class="nav-header"><i class="icon-book"></i> Informate</li>
              <li><a  class="btn {% block todos_profesores_active %}{% endblock  %}" href="{%url 'todos_profesores'%}"  >Todos los profesores</a></li>
              <li class="nav-header"><i class="icon-globe  {% block cuantifica_active %}{% endblock  %}"></i> Cuantifica</li>
              <li ><a class="btn space_link" href="#">Estadisticas por Facultad <span class="label  {% block estadisticas_facultad_active %}{% endblock  %}">¡Muy Pronto!</span></a></li>
              <li><a class="btn space_link  {% block estadisticas_carrera_active %}{% endblock  %}" href="estadisticas_carrera.html">Estadisticas por carrera <span class="label label-important">¡Nuevo!</span></a></li>
              <li><a class="btn space_link  {% block estadisticas_materia_active %}{% endblock  %}" href="estadisticas_materia.html">Estadisticas por Materia <span class="label label-important">¡Nuevo!</span></a></li>
              <li class="nav-header  {% block calificar_active %}{% endblock  %}"><i class="icon-ok-sign"></i> Califica</li>
              <li><a class="btn  space_link  {% block calificar %}{% endblock  %}" href="{%url 'calificar'%}">Calificar </a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
        	{% block contenido %}{% endblock contenido %}         
        </div><!--/span-->
      </div><!--/row-->
  </div>
       
		
{% endblock cuerpo %}
